html, body{
    margin: 0;
    width:100%;
    height:100%;
}

#baseFrame{
    width:1000px;
}

#mainFrame{
    width: 800;
    float: left;
    resize: horizontal;
    margin: 5px;
    min-width: 750px;
    /* border-right: medium solid #ff00ff; */
}

#commentsFrame{
    width: 200px;
    overflow: auto;
    float: right;
    margin: 5px;
    word-wrap: break-word;
}

#notextbox{
    width: 50px;
    text-align: center;
}

#commentsArea{
    width: 90%;
}

#employeeList, #employeeList td, #employeeList th {
    border: 1px solid gray;
}

#employeeList {
    border-collapse: collapse;
}

#employeeList th {
    background-color: lightgray;
}

#viewport {
    overflow: hidden;
    margin: 0 auto;
}
#flipsnap {
}
.canvasWrapper {
    position: relative;
    float: left;
}
.masterCanvas {
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
.commentCanvas {
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
.acomment {
    cursor: pointer;
}
#point {
    position: absolute;
    width:15px;
    height:15px;
    background-color:yellow;
    display:none;
}
#commentFilter{
    width: 80px;
}
