html, body{
    margin: 0;
    width:100%;
    height:100%;
}

#baseFrame{
    width:100%;
    height:100%;
}

#mainFrame{
    width: 65%;
    height:90%;
    float: left;
    resize: horizontal;
    margin: 5px;
    /* border-right: medium solid #ff00ff; */
}

#commentsFrame{
    width: 30%;
    height:90%;
    overflow: auto;
    float: left;
    margin: 5px;
    word-wrap: break-word;
}

#commentsArea{
    width: 90%;
}

#employeeList, #employeeList td, #employeeList th {
    border: 1px solid gray;
}

#employeeList {
    border-collapse: collapse;
}

#employeeList th {
    background-color: lightgray;
}

#viewport {
    width: 400px;
    height:300px;
    overflow: hidden;
    margin: 0 auto;
}
#flipsnap {
    width: 4000px; /* 320px(item width) * 3(item count) */
    height:300px;
}
.item {
    float: left;
    font-size: 50px;
    text-align: center;
    background: #EFEFEF;
    color: #666;
    cursor: pointer;
    z-index:-1;
}
#point {
    position: absolute;
    width:5px;
    height:5px;
    background-color:black;
    z-index:4000;
    display:none;
}
