<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-min.js"/></script>
    <script src="/javascripts/client.js"/></script>
  </head>
  <body>
      sound socket...
  </body>
</html>
