<!DOCTYPE html>
<html lang="ja">

<head>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/peer.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
    <meta charset="utf-8">
    <title>websocket2</title>
</head>

<body>
    <div id="masterArea">
        <input type="checkbox" id="mastercheck"></input><label for="mastercheck">音声を配信する</label>
    </div>
    <div id="listenArea">
        <input type="checkbox" id="listencheck"></input><label for="listencheck">音声を受信する</label>
    </div>
    <audio id="testaudio" autoplay="true"></audio>
</body>
</html>
