<!DOCTYPE html>
<html lang="ja">

<head>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/peer.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
    <meta charset="utf-8">
    <title>websocket2</title>
</head>

<body>
    <div id="masterArea">
        <input type="checkbox" id="mastercheck"></input><label for="mastercheck">音声を配信する</label>
    </div>
    <div id="listenArea">
        <input type="checkbox" id="listencheck"></input><label for="listencheck">音声を受信する</label>
    </div>
    <audio id="testaudio" autoplay="true"></audio>
    <h3 style="color:#0000ff;">ID: <span id="myid"></span></h3>
    <h3 style="color:#0000ff;">Room: <span id="myroom"></span></h3>
    <h3 style="color:#0000ff;">Connections: <span id="numConnection"></span></h3>
    <hr/>
    <div>音声を配信している相手</div>
    <div id="provideDiv"></div>
    <br/>
    <div>音声を受信している相手</div>
    <div id="givenDiv"></div>
    <br/>
    <br/>
    <div id="wantDiv" style="color:#ff0000"></div>
</body>
</html>
