<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-min.js"/></script>
    <script src="/javascripts/client.js"/></script>
  </head>
  <body>
      <input id="textButton" type="button" value="text"></input><br/>
      binary string<input id="fileUpString" type="file"></input><br/>
      blob<input id="fileUpBlob" type="file"></input><br/>
      arrayBuffer<input id="fileUpArrayBuffer" type="file"></input><br/>
      <img id="imgArea" src=""></img>
  </body>
</html>
